@model RegisterViewModel

@{
    Layout = "_LayoutUser";
}

<form method="post">
    <h3>Registrar usuario</h3>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-floating mb-1">
        <input asp-for="Input.Usuario" class="form-control" autocomplete="off" aria-required="true" />
        <label asp-for="Input.Usuario" class="form-label">Usuario</label>
        <span asp-validation-for="Input.Usuario" class="text-danger"></span>
    </div>
    <div class="form-floating mb-1">
        <input asp-for="Input.NombreCompleto" class="form-control" autocomplete="off" aria-required="true" />
        <label asp-for="Input.NombreCompleto" class="form-label">Nombres completos</label>
        <span asp-validation-for="Input.NombreCompleto" class="text-danger"></span>
    </div>
    <div class="form-floating mb-1">
        <input asp-for="Input.NroDocumento" class="form-control" autocomplete="off" aria-required="true" />
        <label asp-for="Input.NroDocumento" class="form-label">Nro Documento</label>
        <span asp-validation-for="Input.NroDocumento" class="text-danger"></span>
    </div>
    <div class="form-floating mb-1">
        <input asp-for="Input.Email" class="form-control" autocomplete="off" aria-required="true" />
        <label asp-for="Input.Email" class="form-label">Email</label>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-floating mb-1">
        <input asp-for="Input.Telefono" class="form-control" autocomplete="off" aria-required="true" />
        <label asp-for="Input.Telefono" class="form-label">Telefono</label>
        <span asp-validation-for="Input.Telefono" class="text-danger"></span>
    </div>
    <div class="form-floating mb-1">
        <input asp-for="Input.Password" type="password" class="form-control" autocomplete="off" aria-required="true" />
        <label asp-for="Input.Password" class="form-label">Password</label>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="form-floating mb-1">
        <input asp-for="Input.ConfirmarPassword" type="password" class="form-control" autocomplete="off" aria-required="true" />
        <label asp-for="Input.ConfirmarPassword" class="form-label">Confirmar Password</label>
        <span asp-validation-for="Input.ConfirmarPassword" class="text-danger"></span>
    </div>
    <div class="form-floating mb-1">
        @Html.DropDownListFor(p => p.Input.CodigoDepartamento, Model.ListaDepartamentos, "-Seleccione-", new
        {
        @class = "form-select",
        id = "ddlDpto"
        })
        <label asp-for="Input.CodigoDepartamento" class="form-label">Departamento</label>
    </div>
    <div class="form-floating mb-1">
        @Html.DropDownListFor(p => p.Input.CodigoProvincia, new SelectList(Enumerable.Empty<SelectListItem>(), "Codigo", "Nombre"), "-Seleccione-", new
        {
        @class = "form-select",
        id = "ddlProv"
        })
        <label asp-for="Input.CodigoProvincia" class="form-label">Provincia</label>
    </div>
    <div class="form-floating mb-1">
        @Html.DropDownListFor(p => p.Input.CodigoDistrito, new SelectList(Enumerable.Empty<SelectListItem>(), "Codigo", "Nombre"), "-Seleccione-", new
        {
        @class = "form-select",
        id = "ddlDist"
        })
        <label asp-for="Input.CodigoDistrito" class="form-label">Distrito</label>
    </div>
    <div>
        <button type="submit" class="btn btn-lg btn-primary">Registrar</button>
    </div>
</form>

@section Scripts {

    <script>
        // JQuery
        // $(document).ready(function () {
        //     $("#ddlDpto").change(function () {
        //         let codDpto = $(this).val();

        //         // Realizamos la llamada AJAX para obtener las provincias correspondientes
        //         $.ajax({
        //             url: "/Provincias/Cargar",
        //             type: 'GET',
        //             data: { codDepartamento: codDpto },
        //             success: function (provincias) {
        //                 // Limpiar el DropDownList de provincias
        //                 $("#ddlProv").empty();
        //                 $("#ddlDist").empty();

        //                 // Agregamos las provincias al DropDownList
        //                 $.each(provincias, function (i, ciudad) {
        //                     $('#ddlProv').append($('<option></option>').val(ciudad.codigo).text(ciudad.nombre));
        //                 });
        //             }
        //         });
        //     });

        //     $("#ddlProv").change(function () {
        //         let codProv = $(this).val();

        //         // Realizamos la llamada AJAX para obtener las provincias correspondientes
        //         $.ajax({
        //             url: "/Distritos/Cargar",
        //             type: 'GET',
        //             data: { codProvincia: codProv },
        //             success: function (distritos) {
        //                 // Limpiar el DropDownList de provincias
        //                 $("#ddlDist").empty();

        //                 // Agregamos las provincias al DropDownList
        //                 $.each(distritos, function (i, ciudad) {
        //                     $('#ddlDist').append($('<option></option>').val(ciudad.codigo).text(ciudad.nombre));
        //                 });
        //             }
        //         });
        //     });
        // });
        document.addEventListener('DOMContentLoaded', function () {
            const ddlDpto = document.getElementById('ddlDpto');
            var ddlProv = document.getElementById('ddlProv');
            var ddlDist = document.getElementById('ddlDist');

            ddlDpto.addEventListener('change', function () {
                const codDpto = this.value;

                fetch('/Provincias/Cargar?codDepartamento=' + codDpto)
                    .then(function (response) {
                        return response.json();
                    })
                    .then(function (provincias) {
                        ddlProv.innerHTML = '';

                        provincias.forEach(function (ciudad) {
                            const option = document.createElement('option');
                            option.value = ciudad.codigo;
                            option.text = ciudad.nombre;
                            ddlProv.appendChild(option);
                        });
                    })
                    .catch(function (error) {
                        console.error('Error:', error);
                    });
            });

            ddlProv.addEventListener('change', function () {
                const codProv = this.value;

                fetch('/Distritos/Cargar?codProvincia=' + codProv)
                    .then(function (response) {
                        return response.json();
                    })
                    .then(function (distritos) {
                        ddlDist.innerHTML = '';

                        distritos.forEach(function (ciudad) {
                            const option = document.createElement('option');
                            option.value = ciudad.codigo;
                            option.text = ciudad.nombre;
                            ddlDist.appendChild(option);
                        });
                    })
                    .catch(function (error) {
                        console.error('Error:', error);
                    });
            });
        });
    </script>

    <partial name="_ValidationScriptsPartial" />
}