@model RegisterDtoRequest

<div class="row justify-content-end"> 
    <div class="col-md-5 mt-5">
        <form method="post">
            <h3>Crear nueva cuenta</h3>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="Usuario" class="form-control" autocomplete="off" aria-required="true" />
                <label asp-for="Usuario" class="form-label">Usuario</label>
                <span asp-validation-for="Usuario" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="NombreCompleto" class="form-control" autocomplete="off" aria-required="true" />
                <label asp-for="NombreCompleto" class="form-label">Nombres completos</label>
                <span asp-validation-for="NombreCompleto" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Email" class="form-control" autocomplete="off" aria-required="true" />
                <label asp-for="Email" class="form-label">Email</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Telefono" class="form-control" autocomplete="off" aria-required="true" />
                <label asp-for="Telefono" class="form-label">Telefono</label>
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Password" type="password" class="form-control" autocomplete="off" aria-required="true" />
                <label asp-for="Password" class="form-label">Password</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="ConfirmarPassword" type="password" class="form-control" autocomplete="off" aria-required="true" />
                <label asp-for="ConfirmarPassword" class="form-label">Confirmar Password</label>
                <span asp-validation-for="ConfirmarPassword" class="text-danger"></span>
            </div>
            <div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Crear cuenta</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}